bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.ColorConvert/.idea/.gitignore
/ColorConvert.sln.DotSettings.user
/.idea/.idea.ColorConvert/.idea/indexLayout.xml
/.idea/.idea.ColorConvert/.idea/material_theme_project_new.xml
